extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Sobre nosotros", class="img-fluid")
            .col-md-7
                h1.text-center.mt-3.mt-md-0.text-md-left= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales augue non lorem vulputate mattis. Mauris et diam quis metus suscipit interdum eu ac mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam nec ligula quis velit tristique cursus ac non sapien. Suspendisse commodo nibh vitae dui convallis ultrices. Fusce neque eros, eleifend in venenatis fermentum.

                p Etiam eget elementum lectus. Sed eget ex sapien. Phasellus accumsan mi quis arcu finibus semper. Vestibulum nec finibus ipsum. Vestibulum commodo nec nisi a feugiat. Etiam vel sem et purus imperdiet consectetur eu in nunc.

                p Proin vel tortor suscipit, eleifend lacus in, finibus justo. Phasellus ipsum sapien, rutrum ac justo at, mollis gravida neque. Maecenas commodo hendrerit nisi a vulputate. Quisque dictum faucibus sapien, ut tincidunt tortor euismod eu.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin vel tortor suscipit, eleifend lacus in, finibus justo. Phasellus ipsum sapien, rutrum ac justo at, mollis gravida neque. Maecenas commodo hendrerit nisi.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Increíbles destinos
                    p Proin vel tortor suscipit, eleifend lacus in, finibus justo. Phasellus ipsum sapien, rutrum ac justo at, mollis gravida neque. Maecenas commodo hendrerit nisi.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Proin vel tortor suscipit, eleifend lacus in, finibus justo. Phasellus ipsum sapien, rutrum ac justo at, mollis gravida neque. Maecenas commodo hendrerit nisi.